<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
</head>
<body>
    <h3>username: {{object.username}}</h3>
    <p>bio: {{object.bio}}</p>
    <p>website: <a href="{{object.website}}">{{object.website}}</a></p>
    <p>followers: {{followers_count}}</p>
    <p>followings: {{followings_count}}</p>
    <p>posts: {{posts_count}}</p>
    
    
    <form action="{% url 'follow' object.username %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="{% if is_following %}Unfollow{% else %}Follow{% endif %}">
    </form>
    
    
</body>
</html>